.autocomplete-select__label {
  display: block;
}

.autocomplete-select__inner-wrapper {
  position: relative;
  max-width: 320px;
  padding-right: 65px;

  .lds-dual-ring {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.5);
  }
}

.autocomplete-select__input-wrapper {
  display: flex;
  align-content: center;
}

.autocomplete-select__input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #adb5ca;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  // color: #6f737b;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.autocomplete-select--open {
  .autocomplete-select__input {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.autocomplete-select__dropdown {
  margin: 0;
  border: 1px solid #adb5ca;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.autocomplete-select__item {
  padding: 0.5rem;
}

.autocomplete-select__item--selected {
  font-weight: bold;
}

.autocomplete-select__item--highlighted {
  background: #adb5ca;
  color: #fff;
}
